group :tools do
  gem 'capistrano', '~> 2.0'
  gem 'capistrano_colors'
  gem 'sushi'
  gem 'recap', '~> 1.2'
  gem 'capistrano-unicorn', require: false
  gem 'capistrano-sidekiq'
  gem 'bundler-audit'
  gem 'capistrano-colorized-stream'
end


group :production do
  gem 'unicorn'
end
