require "bundler/capistrano"
require 'sushi/ssh'
require 'capistrano_colors'

# multistage
set :stages, %w(production staging)
set :default_stage, "staging"
require 'capistrano/ext/multistage'

# whenever
#set :whenever_command, "bundle exec whenever"
#set :whenever_environment, defer { stage }
#set :whenever_identifier, defer { "#{application}_#{stage}" }
#require "whenever/capistrano"

set :recipes_dir, File.expand_path("/../cap-recipes", __FILE__)


load recipes_dir+"/config/recipes/base"
load recipes_dir+"/config/recipes/nginx"
load recipes_dir+"/config/recipes/db"
load recipes_dir+"/config/recipes/postgres"
load recipes_dir+"/config/recipes/rbenv"
#load recipes_dir+"/config/recipes/assets" # turn off when deploy:cold
#load recipes_dir+"config/recipes/check"

#load recipes_dir+'config/recipes/wordpress'


server "0.0.0.0", :web, :app, :db, primary: true

# custom
set :domain, 'yourapp.domain'
set :rails_server, 'unicorn'

#standard
set :user, "deployer"
set :application, "yourapp"
set :deploy_to, "/home/#{user}/apps/#{application}"

set :deploy_via, :remote_cache
set :use_sudo, false

set :scm, "git"
set :repository, "git@repository"
set :branch, "develop"

default_run_options[:pty] = true
ssh_options[:forward_agent] = true

if rails_server.eql?("unicorn")
  load recipes_dir+"config/recipes/unicorn"
else
  load recipes_dir+"config/recipes/thin"
end

after 'deploy:update_code', 'deploy:migrate'
after "deploy", "deploy:cleanup" # keep only the last 5 releases

namespace :deploy do
  task :restart do
    run "if [ -f #{unicorn_pid} ] && [ -e /proc/$(cat #{unicorn_pid}) ]; then kill -USR2 `cat #{unicorn_pid}`; else cd #{deploy_to}/current && bundle exec unicorn_rails -c #{unicorn_config} -E #{rails_env} -D; fi"
  end
  task :start do
    run "cd #{deploy_to}/current && bundle exec unicorn_rails -c #{unicorn_config} -E #{rails_env} -D"
  end
  task :stop do
    run "if [ -f #{unicorn_pid} ] && [ -e /proc/$(cat #{unicorn_pid}) ]; then kill -QUIT `cat #{unicorn_pid}`; fi"
  end
end
